<html>

<head>
    <title> Home Automation</title>
</head>

<body>
    <h1>Bulb State:
        <%= BulbCurrentState %>
    </h1>

    <button onclick="location.href='http://localhost:3030/on';">Switch On </button>
    <button onclick="location.href='http://localhost:3030/off';"> Switch Off </button>

</body>

</html>